<div class="container mt-5">
  <section class="w-75 mx-auto rounded p-3 shadow" *ngIf="step1">
    <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
      <label class="form-label" for="">Email</label>
      <input
        formControlName="email"
        type="email"
        name=""
        id="email"
        class="form-control"
      />
      <div
        *ngIf="
          forgetForm.controls['email'].errors &&
          forgetForm.controls['email'].touched
        "
        class="alert alert-danger"
      >
        <p *ngIf="forgetForm.controls['email'].getError('required')">
          Email is required
        </p>
        <p *ngIf="forgetForm.controls['email'].getError('email')">
          Enter Valid Email
        </p>
      </div>
      <button class="btn bg-main w-100 mt-3">Enter Email</button>
    </form>
  </section>

  <section class="w-75 mx-auto rounded p-3 shadow" *ngIf="step2">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetcode()">
      <label class="form-label" for="">Reset code</label>
      <input
        formControlName="resetCode"
        type="text"
        name=""
        id="resetcode"
        class="form-control"
      />
      <div
        *ngIf="
          forgetForm.controls['resetCodeForm'].errors &&
          forgetForm.controls['resetCodeForm'].touched
        "
        class="alert alert-danger"
      >
        <p *ngIf="forgetForm.controls['resetCodeForm'].getError('required')">
          password is required
        </p>
      </div>
      <button class="btn bg-main w-100 mt-3">Reset code</button>
    </form>
  </section>

  <section class="w-75 mx-auto rounded p-3 shadow" *ngIf="step3">
    <form [formGroup]="renewForm" (ngSubmit)="renewpassword()">
      <label class="form-label" for="">New password</label>
      <input
        formControlName="newPassword"
        type="text"
        name=""
        id="newpassword"
        class="form-control"
      />
      <div
        *ngIf="
          forgetForm.controls['password'].errors &&
          forgetForm.controls['password'].touched
        "
        class="alert alert-danger"
      >
        <p *ngIf="forgetForm.controls['password'].getError('required')">
          password is required
        </p>
        <p *ngIf="forgetForm.controls['password'].getError('pattern')">
          Minimum eight characters, at least one letter, one number and one
          special character
        </p>
      </div>
      <button class="btn bg-main w-100 mt-3">New password</button>
    </form>
  </section>
</div>
