<div class="container mt-5">
  <h2 class="text-success text-center">Update Your Details</h2>
  <section class="w-75 mx-auto rounded p-3 shadow">
    <form [formGroup]="userInfoForm" (ngSubmit)="updateUserInfo(userInfoForm)">
      <label class="form-label" for="">Name</label>
      <input
        formControlName="name"
        type="text"
        name=""
        id="name"
        class="form-control"
      />
      <div
        *ngIf="
          userInfoForm.controls['name'].errors &&
          userInfoForm.controls['name'].touched
        "
        class="alert alert-danger"
      >
        <p *ngIf="userInfoForm.controls['name'].getError('required')">
          User Name is required
        </p>
        <p *ngIf="userInfoForm.controls['name'].getError('pattern')">
          User Name must start with Uppercase
        </p>
        <p *ngIf="userInfoForm.controls['name'].getError('minlength')">
          Min Length 3
        </p>
        <p *ngIf="userInfoForm.controls['name'].getError('maxlength')">
          Max Length 20
        </p>
      </div>
      <label class="form-label" for="">Email</label>
      <input
        formControlName="email"
        type="email"
        name=""
        id="email"
        class="form-control"
      />
      <div
        *ngIf="
          userInfoForm.controls['email'].errors &&
          userInfoForm.controls['email'].touched
        "
        class="alert alert-danger"
      >
        <p *ngIf="userInfoForm.controls['email'].getError('required')">
          Email is required
        </p>
        <p *ngIf="userInfoForm.controls['email'].getError('email')">
          Enter Valid Email
        </p>
      </div>
      <label class="form-label" for="">Phone</label>
      <input
        formControlName="phone"
        type="text"
        name=""
        id="phone"
        class="form-control"
      />
      <div
        *ngIf="
          userInfoForm.controls['phone'].errors &&
          userInfoForm.controls['phone'].touched
        "
        class="alert alert-danger"
      >
        <p *ngIf="userInfoForm.controls['phone'].getError('required')">
          phone is required
        </p>
        <p *ngIf="userInfoForm.controls['phone'].getError('pattern')">
          Enter Valid Egyptian Number
        </p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <button class="btn bg-main">Enter Email</button>
      </div>
    </form>
  </section>
</div>
