<div class="container mt-5" *ngIf="!disabled; else loads">
  <h2 class="text-success text-center">Change Current Password</h2>
  <section class="w-75 mx-auto rounded p-3 shadow">
    <form
      [formGroup]="updatePassForm"
      (ngSubmit)="updateUserPassword(updatePassForm)"
      #element
    >
      <label class="form-label" for="">Enter Current password</label>
      <input
        formControlName="currentPassword"
        type="password"
        name=""
        id="currentPassword"
        class="form-control"
      />
      <div
        *ngIf="
          updatePassForm.controls['currentPassword'].errors &&
          updatePassForm.controls['currentPassword'].touched
        "
        class="alert alert-danger"
      >
        <p
          *ngIf="
            updatePassForm.controls['currentPassword'].getError('required')
          "
        >
          currentPassword is required
        </p>
        <p
          *ngIf="updatePassForm.controls['currentPassword'].getError('pattern')"
        >
          Minimum eight characters, at least one letter, one number and one
          special character
        </p>
      </div>
      <label class="form-label" for="">New password</label>
      <input
        formControlName="password"
        type="password"
        name=""
        id="password"
        class="form-control"
      />
      <div
        *ngIf="
          updatePassForm.controls['password'].errors &&
          updatePassForm.controls['password'].touched
        "
        class="alert alert-danger"
      >
        <p *ngIf="updatePassForm.controls['password'].getError('required')">
          password is required
        </p>
        <p *ngIf="updatePassForm.controls['password'].getError('pattern')">
          Minimum eight characters, at least one letter, one number and one
          special character
        </p>
      </div>
      <label class="form-label" for="">ReEnter password</label>
      <input
        formControlName="rePassword"
        type="password"
        name=""
        id="repassword"
        class="form-control"
      />
      <div
        *ngIf="
          updatePassForm.controls['rePassword'].touched &&
          !matching(
            updatePassForm.controls['rePassword'].value,
            updatePassForm.controls['password'].value
          )
        "
        class="alert alert-danger"
      >
        <p>Password is not matched</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <button *ngIf="!isLoading; else load" class="btn bg-main">
          Update password
        </button>
        <a *ngIf="notCorrect" routerLink="/forgetpassword" class="link-primary">
          Forget Password
        </a>
      </div>
    </form>
  </section>
</div>
<ng-template #loads>
  <div class="m-auto">
    <h2 class="alert alert-danger text-center">
      {{ messageErr }}
      <a
        class="nav-link link-primary"
        routerLinkActive="bg-main"
        routerLink="login"
        >login</a
      >
    </h2>
  </div>
</ng-template>
<ng-template #load>
  <button type="submit" class="btn bg-main">
    <i class="fa-solid fa-spinner fa-spin"></i>
  </button>
</ng-template>
